:root {
  --background-color: aliceblue;
  --h1-color: rgb(0, 72, 255);
  --h2-color: rgba(0, 76, 255, 0.651);
  --main-color: rgba(13, 96, 163, 0.485);
  --main-shadow: 0 0 10px rgba(13, 96, 163, 0.485);
}

body {
  margin: 0;
  background-color: var(--background-color);
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoapp {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

h1 {
  color: var(--h1-color);
  margin: 0 0 10px 0;
}

.label-wrapper {
  margin: 10px 0 0 0;
  color: var(--h2-color);
}

input {
  margin: 12px;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
}

button {
  background-color: var(--background-color);
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0 5px;
  box-shadow: 0 0 3px rgba(13, 96, 163, 0.485);
}

#list-heading {
  color: var(--h2-color);
  font-size: medium;
  margin-bottom: 0;
}

ul {
  margin: 5px 30px 20px 0;
  text-align: left;
  list-style-type: none;
}

[class="btn btn__primary btn__lg"] {
  background-color: var(--main-color);
}

[class="btn btn__danger"] {
  background-color: var(--main-color);
}